* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    color: #172033;
}

nav {
    background: #172554;
    color: white;
    padding: 18px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    text-align: center;
    padding: 90px 20px;
    background: linear-gradient(
        135deg,
        #2563eb,
        #7c3aed
    );
    color: white;
}

.hero h1 {
    font-size: 42px;
}

.hero p {
    font-size: 19px;
}

.buttons {
    margin-top: 30px;
}

.button,
button {
    display: inline-block;
    padding: 12px 22px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.secondary {
    background: white;
    color: #2563eb;
}

.features {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(220px, 1fr));

    gap: 20px;

    padding: 50px 8%;
}

.card,
.opportunity,
.application {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow:
        0 4px 15px rgba(0, 0, 0, 0.08);

    margin-bottom: 20px;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

form {
    background: white;
    padding: 30px;
    border-radius: 12px;
}

label {
    display: block;
    margin-top: 18px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 7px;
    border: 1px solid #d1d5db;
    border-radius: 7px;
}

.skill {
    background: white;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 10px;
}

.skill-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.progress {
    background: #e5e7eb;
    height: 12px;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: #2563eb;
}

.match {
    margin: 15px 0;
    color: #15803d;
    font-size: 18px;
}

.application {
    display: flex;
    justify-content: space-between;
}
